.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: smaller;
  background-color: aliceblue;
}
.innerContainer{

  background-color: rgb(211, 234, 255);
  padding: 1rem;
  border-radius: 12px;
  width: 40%;
  height: 15%;
}

.input{
  display: flex;
  flex-direction: column;
  gap:5px;
  margin: 5px;
}
.input label{
  color: rgb(1, 70, 70);
  font-size:11px ;
  margin-left: 8px;
}
.input input{
  border-radius: 12px;
  border: 0;
  padding: 6px;
}
.input input::placeholder{
 font-size: 11px;
}
.input input:focus{
 outline: thin;
 border: 1 solid rgb(0, 174, 255);

}

.btn{
  display: flex;
  justify-content: center;
}
.btn button{
  border: none;
  background-color: rgb(105, 222, 243);
  padding: 8px;
  margin-top: 5px;
  border-radius: 12px;
  color: rgb(2, 32, 58);
}
.btn button:hover{
  color: aliceblue;
  background-color: rgb(3, 80, 104);
}

.table{
  width: 45%;
  margin-top: 15px;
  border: 1px solid skyblue;
  border-radius: 12px;
  padding: 2px;
  font-size: small;

}
.tab-head{
  background-color: skyblue;
  padding: 5px;
  border-top-left-radius: 12px;
  border: 1px solid skyblue;
}

.tab-body tr td{
  text-align: center;
}
.tab-body tr td button{
  border:0;
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  padding: 3px;
  border-radius: 8px;
}


@media screen and (max-width: 480px) {
  .innerContainer{
    width: 80%;
    height: 20%;
  }
  .table{
    width: 80%;
  }
}